body{
    /* background-color: #32612D; */
    /* background-image: url("8d4070aa369b9d79d77b6c1de25e12fb.jpg"); */
    background-image: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url("Backgrounds/eea9dbc941723c30616d1be594dcfc23.jpg");
    background-position: center;
    background-size:cover ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 109vh;
}

/*Navigationbar*/
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.icon>.logo img{
    width: 200px;
    float: left;
    height: 70px;
    border: 2px solid black;
    border-radius: 30px;
}
.logo{
    color: white;
    font-size: 35px;
    font-family: Arial;
    padding-left: 2px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 200px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 52px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;

}

ul li a:hover{
    color: cyan;
}
.search{
    width: 330px;
    float: left;
    margin-left: 85%;
    margin-top: 10px;
    /* display:flex;
    margin-top: 0%; */
}   

.search>.searchbutton{
    width: 330px;
    float: left;
    margin-left: 1%;
    margin-top: -44px;
}
    


.srch{
    font-family: 'Times New Roman';
    width:140px ;
    height: 40px;
    background: transparent;
    border: 1px solid whitesmoke;
    /* border-radius: 10px; */
    margin-top: -44px;
    color: black;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}

.btn{
    width:100px ;
    height: 40px;
    background: cyan;
    border: 2px solid whitesmoke;
    margin-top: 0%;
    margin-left: 37%;
    color: black;
    padding-top:-200px;
    font-size: 15px;
    /* border-bottom-left-radius: 5px; */
    border-bottom-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.Hyperlink a{
    text-decoration: none;
    text-align:center;
    display: block;
    padding: 10px;  color: #fcfbfb;
}
.Hyperlink{
    text-align: center;
    margin: 10px;
    padding: 10px;
  
}
.header{
    margin: 100px;
    font-size: 80px;
    color: #ffffff;
}
/* .Navbar,ul{
    width: 10em;
    padding:0;
   margin: 0;
   list-style-type: none;
   border: 1px solid #ffffff;
   background-color: rgb(64, 59, 72);
} */
li a {
    display: block;
    color: #ffffff;
}
li a:hover{
color: #2b18d5;}
li{
    text-align: center;
    border-bottom: 1px solid #ffffff;
   
}
li:last-child{
    border-bottom: none;
}
ol {
border: 1px solid #ffffff;
background-color: #aaa3a3;

}
.IMG:hover{
color: #2b18d5;
}

/* for all social containers*/
.socialContainer {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 1s;
    flex-direction: row;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: 0.3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: 0.3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: 0.3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128c7e;
    transition-duration: 0.3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .contain{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.footer{
    display: flex;
    box-sizing: border-box;
   margin-top: 150px;
   width: 100%;
   height: 300px;
   padding: 50px 15%;
   background-color: #253745;
  }

  .footer div{
    text-align: center;
  }

  .col-2{
    flex-grow: 2;
  }

  .footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col-1 a{
    display:block ;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}

form input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

form button{
    background: transparent;
    border: 2px solid cyan;
    color: white;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

/* Scroll bar */
::-webkit-scrollbar{
  width: 15px;

}

::-webkit-scrollbar-track{
  background: black;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(cyan,#1E536E);
  border-radius: 10px;

}

.upload {
  background-color: white;
}

.download {
  color: black;
}

#upbtn {
  width: 100px;
  cursor: pointer;
}
